.container{
    width:80%;
    margin: auto;
    background-color: rgb(203, 216, 227);
    padding: 30px;
}
*{
    margin: 0;
    padding: 2px;
}

.inner{
    padding:20px;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top:10px;
    background-color: bisque;
}

.butt{
  margin-top: 10px; 
  background-color: aquamarine; 
  padding: 5px;
  border-radius: 50%;
  border:0;
}